@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
img {
    width: 100%;
  }

  .logo-image {
    width: 60px;
    height: 60px;
  }
  
  @media only screen and (max-width: 768px) {
    .logo-image {
      width: 40px;
      height: 40px;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 0px;
margin-left: 0;

  }
  .image {
    flex-basis:5%;
    padding-left: 0 px;
    
  }
  .text {
    font-size: 20px;
    padding-left: 70px;
  }
  .sbt{
    padding-left: 5px;
    padding-right: 0px;
  }
  h2
  {
    color:blue;
  }
  
